#about
  @media screen and (max-width: 1200px)
    text-align: center
  .row
    padding: 2em 0
    @media (min-width: 1200px)
      padding: 9em 0 0
      &:last-child
        padding-bottom: 5em
      &:first-child
        padding-top: 12em

  h2
    text-transform: uppercase
    letter-spacing: 2px
    text-align: left
    font-weight: $font-normal
    @media screen and (max-width: 1200px)
      text-align: center
  p
    text-align: left
    @media screen and (max-width: 1200px)
      text-align: center
    span
      color: $light-green
      font-weight: $font-bold
  img
    @media (max-width: 1200px)
      padding-top: 1.3em

  .laptop
    width: 100%
    max-width: 25rem

  .match
    width: 100%
    max-width: 30rem

  .benefits
    width: 100%
    max-width: 60rem
    @media screen and (max-width: 1200px)
      max-width: 35rem
