#contact
  form
    padding: 0 10%
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    margin: 3em 0

    section
      width: calc(50% - 40px)
      padding: 20px
      background: $light-green
      margin: 20px
      border-radius: 5px

      .btn
        display: inline-block
        height: 38px
        padding: 0 30px
        color: $white
        text-align: center
        font-size: 11px
        font-weight: 600
        line-height: 38px
        letter-spacing: .1rem
        text-transform: uppercase
        text-decoration: none
        white-space: nowrap
        background: $medium-green
        border-radius: 0px
        border: 0
        cursor: pointer
        box-sizing: border-box

        &:hover
          background-color: #008173
          -webkit-transition: all .5s
          -moz-transition: all .5s
          transition: all .5s

      h2
        font-weight: $font-normal
        color: $white
      .input-container
        padding: 10px
        label
          display: block
          margin-bottom: 4px
          color: white
          font-size: 16px
          text-shadow: 0px 2px 1px #bbf3ff
        input, textarea
          width: 100%
          padding: 5px 10px
          height: 40px
          border-radius: 5px
          border: none
          background: $lighter-green
          box-shadow: 0 2px 0px $light-green
          font-size: 1em
          color: #757575
        input:focus
          outline: none
          background: white
        textarea
          &:focus
            outline: none
            background: white
          height: 122px
          padding: 15px 10px
          resize: none
    .send-container
      float: right
      width: 100%
      text-align: right
      margin-right: 20px
      input
        background: #77bd7d
        border: none
        color: white
        padding: 15px 30px
        border-radius: 5px
        font-size: 16px
        cursor: pointer
        &:hover
          background: #8ed294
    &:after
      content: ""
      display: block
      clear: both

  @media (max-width: 992px)
    form
      padding: 0 5%

  @media (max-width: 768px)
    form
      margin-bottom: 50px
      section
        width: 100%
        margin: 0
        &.left
          margin-bottom: -30px
      .send-container
        margin-right: 0
        margin-top: 15px
        input
          width: 100%
