footer
  background: $darker-green
  color: $white
  padding: 5em 0 1em
  text-align: center
  text-align: center
  display: flex
  justify-content: center
  align-items: center

  a
    color: $white
    text-decoration: none
    cursor: pointer


.social-links
  display: flex
  font-size: 3rem
  justify-content: space-around
  opacity: 0.8
  margin: .7em 0

i
  &:hover
    color: $light-green

.nav-footer
  display: flex
  justify-content: space-around
  margin: 0 auto

  a
    text-decoration: none
    &:hover
      color: $light-green
.container--footer
  max-width: 25em

.title-footer
  text-transform: uppercase
  letter-spacing: 3px
  line-height: 1

  &::before, &::after
    content: ''
    display: block
    height: 1px
    background: $white
    opacity: 0.25
    margin: .75em 0

.nav-footer
  text-transform: uppercase
  letter-spacing: 3px
  font-weight: $font-normal
  font-size: 0.9em
.made
  word-spacing: .2em
  .fa-heart
    color: #c30101
