
.wrapper, .nav-wrapper
  margin: 0 auto
  max-width: 90%
  padding: 0 2%

.clearfix:after
  content: ""
  display: table
  clear: both

ul
  margin: 0
  padding: 0
  list-style: none

.the-header.affix
  background-color: $light-green
  -webkit-transition: background .5s ease-in-out, opacity .5s ease;
  -moz-transition: background .5s ease-in-out, opacity .5s ease;
  transition: background .5s ease-in-out, opacity .5s ease;

.the-header
  background-color: transparent
  position: fixed
  z-index: 9999
  width: 100%
  -webkit-transition: background .5s ease-in-out, opacity .5s ease;
  -moz-transition: background .5s ease-in-out, opacity .5s ease;
  transition: background .5s ease-in-out, opacity .5s ease;

  .logo
    display: inline-block
    color: white
    float: left
    padding: 1.3em 0 .8em
    img
      width: 25%
      max-width: 3rem
      min-width: 3rem

  a
    color: white
    text-decoration: none

a.resToggle
  display: none

.the-nav
  display: inline-block
  float: right

  li
    float: left

    a
      display: block
      padding: 20px 10px
      font-weight: $font-light
      letter-spacing: 3px
    &:hover a
      background: $medium-green
      -webkit-transition: background .5s ease-in-out, opacity .5s ease;
      -moz-transition: background .5s ease-in-out, opacity .5s ease;
      transition: background .5s ease-in-out, opacity .5s ease;
    .active-link
      background-color: $medium-green
      -webkit-transition: background .5s ease-in-out, opacity .5s ease;
      -moz-transition: background .5s ease-in-out, opacity .5s ease;
      transition: background .5s ease-in-out, opacity .5s ease;

@media screen and (max-width: 790px)
  .the-header
    background-color: $light-green
  .nav-wrapper
    max-width: 100%
    padding: 0
  a.resToggle
    display: inline-block
    float: right
    font-size: 2em
    cursor: pointer
    &:hover
      background: $light-green
  .the-nav
    display: none
    width: 100%
    text-align: center
    &.active
      display: block
    li
      display: block
      float: none
@media (min-width: 790px)
    .the-nav
      display: block !important

      a
        padding: 15px 10px

.align-center
  text-align: center

.resToggle
  margin: 20px 0 0
  .menu-item
    background: $white
    display: block
    height: 3px
    margin: 5px 0 0
    -webkit-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    width: 30px
  &.open .menu-item
    margin: 0
    &:first-child
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
      -webkit-transform-origin: 8px
      transform-origin: 8px
      margin: 5px 0 0
    &:nth-child(2)
      opacity: 0
    &:nth-child(3)
      -webkit-transform: rotate(-45deg)
      transform: rotate(-45deg)
      -webkit-transform-origin: 7px
      transform-origin: 7px
      margin: 5px 0 0
