#splash
  background: url(../img/banner.jpg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 100vh

.title-container
  display: flex
  justify-content: center
  align-items: center
  height: 100%


.headline
  z-index: 1000
  width: 100%
  text-align: center
  color: #fff
  padding: 1em


  img
    width: 25%
    min-width: 10rem
    max-width: 10rem
    @media screen and (min-width: 768px)
      min-width: 15rem

  h3
    font-size: 1.6em
    letter-spacing: 2px
    font-weight: $font-light
    @media screen and (min-width: 768px)
      font-size: 2em
.arrow
  position: absolute
  left: 50%
  bottom: 5vh
  display: block
  text-align: center
  width: 3em
  height: 2em
  z-index: 100
  text-decoration: none
  text-shadow: 0
  @media (max-width: 768px)
    display: none
.scroll-down
  width: 13px
  height: 13px
  border-bottom: 2px solid #fff
  border-right: 2px solid #fff
  z-index: 9
  -webkit-transform: translate(-50%, 0%) rotate(45deg)
  -moz-transform: translate(-50%, 0%) rotate(45deg)
  transform: translate(-50%, 0%) rotate(45deg)
  -webkit-animation: fade_move_down 2s ease-in-out infinite
  -moz-animation: fade_move_down 2s ease-in-out infinite
  animation: fade_move_down 2s ease-in-out infinite

//animated scroll arrow animation

@-webkit-keyframes fade_move_down
  0%
    -webkit-transform: translate(0, -10px) rotate(45deg)
    opacity: 0

  50%
    opacity: 1

  100%
    -webkit-transform: translate(0, 10px) rotate(45deg)
    opacity: 0


@-moz-keyframes fade_move_down
  0%
    -moz-transform: translate(0, -10px) rotate(45deg)
    opacity: 0

  50%
    opacity: 1

  100%
    -moz-transform: translate(0, 10px) rotate(45deg)
    opacity: 0


@keyframes fade_move_down
  0%
    transform: translate(0, -10px) rotate(45deg)
    opacity: 0

  50%
    opacity: 1

  100%
    transform: translate(0, 10px) rotate(45deg)
    opacity: 0
