#team
  background-color: $light-grey
  overflow: hidden
  width: 100%
  padding: 5em 0 2em
  @media (min-width: 768px)
    padding: 8em 0


  ul
    list-style: none
    position: relative
    display: flex
    align-items: center
    overflow: hidden
    padding: 0
    li
      display: inline-block
      position: relative
      text-align: center
      width: 100vw

      img
        width: 50%
        min-width: 18rem
        max-width: 18rem

      p, em
        max-width: 600px
        margin: 1rem auto
        width: 70%


.team-control
  display: flex
  justify-content: center
  i
    cursor: pointer
    padding: 1.3rem
