*, *::before, *::after
  box-sizing: border-box
html
  margin: 0
  height: 100%
  overflow-x: hidden
body
  background-color: $white
  padding: 0
  margin: 0


html,
body
  height: 100%


img
  max-width: 100%
  height: auto




.unstyled-list
  margin: 0
  padding: 0
  list-style: none

::selection
  background: $light-green
::-moz-selection
  background: $light-green
